@media only screen and (min-width: 992px) {

    footer, main {
        max-width: 1150px;
        margin: auto;
    }

    main .heroimg {
        margin-left: auto;
        width: 100%;
        height: auto;
    }

    .pics {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        margin: auto;
    }

    .gal:hover {
        box-shadow: 0 0 50px #333;
    }

    /*home page*/
    .home {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    
    }

    .home section {
        display: inline;
        border-radius: 15px;
        padding: 5px;
        margin: 5px;
    }

    .home section img {
        border-radius: 15px;
    }

}

/*end large */