@media only screen and (min-width: 768px) {
   
    #prestonPancakes {
        display: block;
        width: 100%;
        height: 25px;
        background-color: #EAC435;
        color: #456990;
        font-family: 'PT Sans', sans-serif;
        padding:5px;
    }

    nav button {
        display: none;
    }

    nav ul.hide {
        display: flex;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
    }

    nav ul li {
        display: block;
        flex: 1 1 100%;
        margin-left: 0;
        margin-bottom: 0;
    }

    nav a {
        text-align: center;
    }

    h1 {
        font-size: 36pt;
    }

    .moto {
        font-size: 16pt;
        text-align: center;
    }

    h2 {
        font-size: 24pt;
    }

    .hero {
        position: relative;
    }

    .heroimg {
        max-width: 993px;
        margin: auto;
    }

    .summary {
        position: absolute;
        top: 20px;
        left: 25px;
        opacity: .80;
        box-shadow: 0 0 20px #456990;
        padding: 20px;
        list-style-type: none;
    }

    .forecast {
        display: flex;
        color: #131200;
        font-family: 'PT Sans', sans-serif;
        font-size: 20px;
        margin: 0 auto;
        justify-content: space-evenly;
        width: fit-content;
        border: solid #456990;
        padding: 5px;
    }

    .day {
        background-color: #A8D5E2;
        border: solid #456990 2px;
        color: #131200;
        margin: auto;
        padding: .5rem;
        text-align: center;
    }

    .temp {
        background-color: #A8D5E2;
        border: solid #456990 2px;
        color: #131200;
        margin: auto;
        padding: .5rem;
        text-align: center;
    }

    .weathericon {
        width: fit-content;
        margin: 10px;
        padding: 5px;
    }

    .article {
        padding: 5px;
        margin: 5px;
        width: fit-content;
        height: auto;
    }

    .picnic {
        float: right;

    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

    }

    .pics {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /*Footer*/

    footer img {
        grid-column: 1/2;
        grid-row: 1;
        align-self: center;
        margin: auto;
    }

    footer p {
        grid-column: 2/3;
        grid-row: 1;
        align-self: start;
        margin: auto;
    }

    .socialmedia {
        grid-column: 2/3;
        grid-row: 1;
        align-self: end;
        margin: 0;
        padding: 0;
    }

    /*home page*/
    .home section {
        display: flex;
        flex-direction: row;

    }

    .home section:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .home section h2,
    section h3,
    section p {
        display: inline;
    }

    .home img {
        width: 400px;
        height: auto;
    }

    /*storm page*/

    .personal, .storminfo {
        display: flex;
        flex-direction: column;
        padding: 10px;
        font-size: 10px;
        color: #131200;
        margin: auto;
        max-width: 750px;
        border:#456990 solid 2px;
        border-radius: 5px;
        font-family: 'PT Sans', sans-serif;
        background-color:#A8D5E2;
    }
    .personal label, .storminfo label {
        display: flex;
        flex-direction: column;
        padding: 5px;
        font-weight: bold;
    }
}

/*end medium */