@media only screen and (min-width: 60em) {

	header {
		font-family: Viga, sans-serif;
		padding: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #50514f;
		text-align: center;
		padding: 10px;
		height: 150px;
	}

	header img {
		width: 100px;
		height: auto;
    }
    
    nav ul li a {
		align-items: stretch;
		border: none;
		border-right: 1px solid rgba(0, 0, 0, .30);
		padding: .6rem 1rem;
    }
    

    footer {
		margin: 25px;
		padding-top: 10px;
	}
}