.jumbotron {
  text-align: center;
  background: none;
}

.sectionLight {
  background-color: #eceeef;
  padding: 2em;
}

.sectionDark {
  background-color: #cccc;
  padding: 2rem;
}

.coolStufWrapper {
  margin-top: 20px;
}

button.coolStuffBtn {
  background-color: red;
  color: #ffff;
  display: block;
  margin: auto;
}

.modal-title {
  margin: auto;
}

.modalFormWrapper {
  padding: 2rem;
}

.imgCenter {
  display: block;
  margin: auto;
}

.btnCenter {
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  width: 80%;
}

.footerImg {
  padding: 15px;
}

.socialWrapper {
  margin: auto;
}

.fab {
  margin: 10px;
}

.fa-facebook-square {
  color: #3b5998;
}

.fa-google-plus-square {
  color: #c32f10;
}

.fa-instagram {
  color: white;
}