// color palette - these colors will be the color swatches of the Colors section

$color-1: #0000FF; // Blue
$color-2: #000000; // Black
$color-3: #FFF600; // Yellow
$color-4: #E30022; // Red
$color-5: #ffffff; // White

// additional colors

$success: #6fce71; // green
$alert: $color-3; // red