header, body, main, footer {
    margin: 1.25rem auto;
    max-width: 760px;
    }
    
    header, footer {
        background-color: navy;
        border-radius: .5px;
        color: white;
        text-align: center;
        padding: 1.25rem;
    }
    
    header img {
        float: right;
        margin: 5px;
        padding: 5px;
        position: relative; 
        top: -10px;
    }
    
    h2 {
        text-decoration-line: underline;
        padding: 10px;
        margin: 50px;
    }