@media (min-width:32.5em) {

    header,
    footer {
        border-radius: 10px;
    }

    header img {
        float: right;
        position: relative;
        top: -20px;
        margin: 5px 0 0 5px;
        padding: 5px 0 0 2.5px;
        box-shadow:black 5px 5px 10px;
    }
}