@media only screen and (min-width: 60em){

	nav{
		width: 100%;
	}
	nav button { display: none;}

		nav ul.hide {display: block;}

		nav ul {margin-left: 0%}

		nav ul li {
			float: left;
		}

		nav ul li a {
			border: none;
			border-right: 1px solid rgba(0,0,0,.30);
			padding: .6rem 1rem;
		}
		
		header img {
			width: 100px;
			height: auto;
        }
        
        html {
            background-color: ;
        }

        h1{
            color: #50514f;
            padding: 5px;
            margin: 20px; 
        }

} /*end large */

    