@media only screen and (min-width: 60em){

	header {
		font-family: Viga, sans-serif;
		padding: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #FFEC6D;
		color: #50514f;
		text-align: center;
		padding: 10px;
	}

	header img {
		width: 100px;
		height: auto;
	}

	.headings {
		display: flex;
		flex-direction: column;
	}

	.headings h1 {
		font-size: 1.5rem;
		margin: 0 0 0 17px;
	}

	nav{
		width: 100%;
	}
	nav button { display: none;}

		nav ul.hide {display: block;}

		nav ul {margin-left: 0%}

		nav ul li {
			float: left;
		}

		nav ul li a {
			border: none;
			border-right: 1px solid rgba(0,0,0,.30);
			padding: .6rem 1rem;
		}

		 .galphoto {
			display: grid;
			grid-template-columns: repeat(autofit, minmax(300px, 1fr));
			grid-gap: 20px;
			max-width: 600px;
		}
        
} /*end large */

    