@media only screen and (min-width: 60em) {

	header {
		font-family: Viga, sans-serif;
		padding: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #50514f;
		text-align: center;
		padding: 10px;
		height: 150px;
	}

	header img {
		width: 100px;
		height: auto;
	}

	.headings {
		display: flex;
		flex-direction: column;
	}

	.headings h1 {
		font-size: 72pt;
		margin: 25px 0px 0px 0px;
		padding: 0px;
	}

	.headings h5 {
		font-size: 12pt;
		margin: 0px 0px 0px 25px;
	}

	nav {
		width: 100%;
	}

	nav button {
		display: none;
	}

	nav ul.hide {
		display: block;
	}

	nav ul {
		margin-left: 0%
	}

	nav ul li {
		float: left;
	}

	nav ul li a {
		align-items: stretch;
		border: none;
		border-right: 1px solid rgba(0, 0, 0, .30);
		padding: .6rem 1rem;
	}

	.container {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto auto;
		grid-gap: 30px;
		text-align: center;
		align-content: center;
		margin: 10px 10px 10px 10px;
		padding-bottom: 30px;
	}

	.galphoto:hover {
		box-shadow: 10px 10px 10px #333;
		width: 100%;
		height: 100%;
	}

	figcaption {
		margin-top: 0px;
		font-size: 25pt;
		color: #50514f;
		background-color: #FFEC6D;
		padding: 5px
	}

}

/*end large */