h1 {
    text-align: center;
}

picture {
    display: grid;
    padding: 5px;
    margin: 5px;
}

/*picture img[data-src] {
    filter: blur(0.2em);
  }

picture img {
    filter: blur(0em);
    transition: filter 0.5s;
  }*/

img {
    grid-column: 2;
    width: 400px;
    height: 300px;
}

body {
    justify-content: center;
}

footer {
    text-align: center;
}