@media only screen and (min-width:35em) {

	.container {
		display: grid;
		grid-template-columns: 400px 400px;
		grid-template-rows: 400px 400px;
		grid-gap: 10px;
		text-align: center;
		align-content: center;
		text-align: center;
	}


}