@media only screen and (min-width:35em) {

	.headings h1 {
		font-size: 44pt;
		margin: 25px 0px 0px 0px;
		padding: 0px;
	}

	.container {
		display: grid;
		grid-template-columns: 400px 400px;
		grid-template-rows: 400px 400px;
		grid-gap: 10px;
		text-align: center;
		align-content: center;
		text-align: center;
	}


}