header {
    background-color: green;
    color: white;
}

h1, h2{
    text-align: center;
    padding: 5px;
    margin: 5px;
    font-family: 'Kufam', cursive;
}

p{
    font-family: 'Spartan', sans-serif;
}
