header, footer {
		display: flex;
		height: 100px;
		width: 100%;
		justify-content: center;
		text-align: center;
    background-color: #FFEC6D;
    color:#50514F;
		font-family: 'viga', 'sans-serif';
		}
		
h1 {
		font-family: 'viga', 'crete round', 'sans-serif';
		color: #50514F;
		}

h2 {
    text-decoration-line: underline;
		color: #50514F; 
		font-family: 'viga', 'crete round', 'sans-serif';
		padding: 10px;
    }

nav {
		background-color: #247BA0;
		font-size: 1.2em;
		line-height: 3em;
		}
	
nav li a {
		display: flex;
		flex-direction: row;
		/*display: block;*/
		color: #C4f0ff;
		text-align: center;
		padding: 0.75rem;
		text-decoration: none;
		font-size: 0.95rem;
}

nav a:hover {
	background: blue;
}
nav ul { 
		list-style-position: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
}

@media only screen and (min-width: 37.5em) {
	nav ul {
		display: grid;
		grid-template-columns: repeat (auto-fill, minmax(130px, 1fr))
	}
}

p {
			font-family: 'PT Sans', 'Roboto', 'sans-serif';
			color: black;
}

main {
			padding: 1em;
			margin: 50px;
}
/*font-family: 'Roboto', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Crete Round', serif;
font-family: 'Viga', sans-serif; */
