font-family: 'Kaushan Script',
cursive;
font-family: 'Manrope',
sans-serif;
font-family: 'Roboto',
sans-serif;

Primary: #1C7C54 – Spanish Viridian Secondary: #9AD4D6 – Powder Blue,
#B86F52 – Brown Sugar Accent: #242F40 - Gunmetal Text: #363636 - Jet html {
    overflow-x: hidden;
}

/*header*/
header {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 16pt;
    padding: 0;
    margin: 0;
    color: #1C7C54;
}

header img {
    width: 80px;
    height: auto;
    padding: 10px;
    margin: 5px;
}

.moto {
    padding: 0;
    margin: 0;
    color: #363636;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    text-align: center;
}

/*navigation*/

#navigation {
    background-color: #9AD4D6;
    margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
}

nav ul {
    margin: 0;
    padding: 5px;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #363636;
}

nav ul li a:hover {
    background-color: #B86F52;
    color: #242F40;
}

nav ul li a.active {
    background-color: #1C7C54;
    color: #9AD4D6;
}

nav ul.hide {
    display: none;
}

nav button {
    padding: 10px;
    padding-left: 75px;
    padding-right: 75px;
    margin: 10px;
    margin-left: 50px;
    justify-content: center;
    background-color: aliceblue;
    border: #B86F52 solid 2px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*body*/
.hero {
    border: #B86F52 solid 3px;
    align-items: center;
    justify-content: center;

    margin: auto;
    padding: 0 5px;
}

h2,
h3,
h4 {
    font-family: 'Roboto', sans-serif;
    color: #1C7C54;
    font-size: 14pt;
}

p {
    font-family: 'Manrope', sans-serif;
    color: #363636;
    font-size: 12pt;
}


/*footer*/
footer {
    background-color: #9AD4D6;
    text-align: center;
    padding: 20px;
    font-family: 'Manrope', sans-serif;
    margin: auto;
}

footer img {
    width: 250px;
    height: auto;
    margin: 10px;
    padding: 10px;
}

.socialmedia img {
    width: 50px;
    height: auto;
    margin: 5px;
    padding: 5px;
}

/*home*/

/*city*/
.demographics {
    background-color: #9AD4D6;
    border: #B86F52 solid 2px;
    font-family: 'Manrope',
    sans-serif;
}

.history {
    border: #B86F52 solid 2px;
}
/*join*/

.level {
    font-family: 'Manrope', sans-serif;
}

.core,
.nonProfit,
.bronze,
.silver,
.gold {
    border: #1C7C54 solid 5px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}


.join {
    padding: 15px;
}

.personal,
.business,
.membership,
.message {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #363636;
    margin: auto;
    max-width: 750px;
    border: #B86F52 solid 2px;
    border-radius: 5px;
    font-family: 'Manrope', sans-serif;
    background-color: #9AD4D6;
}

.personal label,
.business label {
    display: none;
    padding: 5px;
    font-weight: bold;
}

legend {
    font-size: 12px;
    font-weight: bolder;
    color: #1C7C54;
}

.fbutton {
    font-size: 10px;
    color: #363636;
    padding: 5px 25px;
    margin: 10px;
    background-color: #1C7C54;
    border: #B86F52 solid 2px;
    font-weight: bold;
}

input {
    width: auto;
    height: 20px;
    padding: 2px;
    margin: 5px;
}

/*directory*/

/*contact*/
.contact h3 {
    text-align: left;
    padding: 10px;
    margin: auto;
}

.contact li {
    list-style-type: none;
    font-family: 'Manrope', sans-serif;
}

.directors{
    border: solid #B86F52 2px;
    padding: 5px;
    margin: 5px;
}

.map {
    width:fit-content;
    height: auto;
    justify-content: center;
    padding: 5px;
    margin: 0 auto;
}

/*thanks*/
h3 {
    text-align: center;
    font-family: 'Francois One', sans-serif;
}