body {
    background-color: #C6C5B9;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

header {
    background-color: #4E4A59;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 75px;
    height: auto;
    padding: 5px;
}

h1 {
    font-size: 3rem;
    margin: 0;
    font-family: poppins, Arial, sans-serif;
    font-style: oblique;
    color: #62929E;
}

nav {
    font-size: 1.5rem;
    color: #62929E;
    display: flex;
    background-color: #4E4A59;
    padding: 15px;
    margin: 5px;
    align-items: center;
}

nav a {
    color: #394053;
}

nav a:visited {
    color: #62929E;
}

nav a:hover {
    background-color: #C6C5B9;
}

li {
    display: inline-block;
    background-color: #4E4A59;
    color: #fdfdff;
}

h2 {
    font-size: 2rem;
    font-family: poppins, Arial, sans-serif;
    color: #62929E;
    margin: 10px;
    text-align: center;
}

p {
    font-size: 1rem;
    font-family: inter, Arial, sans-serif;
    background-color: #62929E;
    padding: 25px;
    margin: 5px;
    border: 10px;
}

.home p {
    text-align: left;
}

.home img {
    width: 250px;
    height: auto;
    padding: 10px;
    margin: 5px;
}

.wedding img {
    width: 250px;
    height: auto;
    padding:10px;
    margin:5px;
}

footer {
    background-color: #4E4A59;
    display: block;
    padding: 5px;
    margin: 5px;
    border: 5px;
}

#copy {
    text-align: center;
}

.social img {
    width: 50px;
    height: auto;
    padding: 10px;
    margin: 5px;
}