body {
    background-color: #C6C5B9;
    content: center;
}
h1 {
    font-size: 48px;
    font-style: bold;
    color: #394053;
}

li {
    display: inline-block;
    background-color: #4E4A59;

}

p {
    font-family: ;
    background-color:#62929E;
}
