
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #50514f;
}

nav {
    background-color: #ffec6d;
    font-family: Vera, sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 1rem 2%;
    text-decoration: none;
    color: #50514f;
    border-top: 1px solid rgba(0,0,,0,.1);
}

nav ul li.active a {background-color: rgba(0,0,0,.2); color: #c4f0ff}
nav ul li a:hover {background-color: rgba(0,0,0,.3);}
nav ul.hide {display: none;}

/*-----Clear fix : force an element not to collapse*/
.clearfix:after{
    content:" ";
    display: table;
    clear: both;
}

#logo {
    position: relative;
    margin-left: -1em;
    padding: 1em;
}

header {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: center;
    text-align: center;
    background-color: #FFEC6D;
    color:#50514F;
    font-family: 'viga', 'sans-serif';
    }

h1, h2, h4 {
    font-family: 'viga', 'crete round', 'sans-serif';
    color: #50514F;
    }

h2 {text-align: center;}

h3 {
    margin-top: 20px;
    margin-bottom: 2px;
    padding: 10px;
}

footer {
    display: flex;
	height: 50px;
	width: 80%;
	justify-content: center;
	text-align: center;
    background-color: #FFEC6D;
    color:#50514F;
    font-family: 'viga', 'sans-serif';
    padding: 10px;
}

.box {
    display: block;
    margin: 10px auto;
    padding: 5px;
    border: 2px solid #50514F;
    justify-content: center;

}

