
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #50514f;
}
nav {
    background-color: #ffec6d;
    font-family: Vera, sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #50514f;
    border-top: 1px solid rgba(0,0,0,0.5);
}

nav ul li.active a {background-color: rgba(0,0,0,.4); color: #c4f0ff}
nav ul li a:hover {background-color: rgba(0,0,0,.7);}
