@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

:root {
    --primary-color: #394053;
    --secondary-color: #62929E;
    --accent1-color: #4E4A59;
    --accent2-color: #C6C5B9;
    --heading-font: "IM Fell French Canon SC";
    --paragraph-font: Lato, Helvetica, sans-serif
}

html {
    background-color: var(#fdfdff)
}

body {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 1em
}

img {
    max-width: 100%
}

h1, h2, h3, h4, h5,h6 {
    font-family: var(poppins);
    color:#4E4A59;
}

header {
    padding: 1em;
    text-align: center;
    color: var(#C6C5B9);
    background-color:
}

header>h1 {
    color:#62929E;
}

p {
    font-family: var(inter);
    color:#4E4A59;
    padding: 1em
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center
}

.colors th {
    background-color: #999
}

.colors td {
    width: 25%;
    height: 3em;
}

.primary {
    background-color: var(#394053)
}

.secondary {
    background-color: var(#62929E)
}

.accent1 {
    background-color: var(#4e4a59)
}

.accent2 {
    background-color: var(#c6c5b9)
}

nav {
    background-color: ;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
}

nav>ul {
    list-style-type: none;
    display: flex;
}

nav a {
    padding: 1em;
    min-width: 70px
}

nav a:link,
nav a:visited {
    color:#C6C5B9;
}

nav a:hover {
    color:#62929E;
    background-color: #4E4A59;
}