body {
    font-size: 16px;
    background-color: #fff;
    margin: 30px;
    font-family: 'Courier New', Courier, monospace;
}

/* Activity 1 styles */
.content1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 20px;
}

.red1 {
    width: 100%;
    height: 100px;
    background-color: red;
    grid-column: 1/3;
}

.green1 {
    width: 200px;
    height: 200px;
    background-color: green;
}

.gold1 {
    width: 200px;
    height: 200px;
    background-color: gold;
}

.blue1 {
    width: 100%;
    height: 100px;
    background-color: blue;
    grid-column: 1/3;
}

/*Activity 2 styles */
.content2 {
    width: 500px;
    height: 500px;
    padding: 10px;
    position: relative;
}

.red2 {
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    top: 10px;
}

.green2 {
    width: 200px;
    height: 200px;
    background-color: green;
    position: absolute;
    left: 100px;
    top: 100px;
}

.gold2 {
    width: 200px;
    height: 200px;
    background-color: gold;
    position: absolute;
    left: 200px;
    top: 200px;
}

.blue2 {
    width: 200px;
    height: 200px;
    background-color: blue;
    position: absolute;
    left: 300px;
    top: 300px;
}

/*Activity 3 styles*/
.content3 {
    display: grid;
    grid-template-columns: 250px 100px 250px;
}

.red3 {
    width: 100%;
    height: 100px;
    background-color: red;
    grid-column: 1/4;
}

.green3 {
    width: 250px;
    height: 200px;
    background-color: green;
    grid-column: 1/2
}

.gold3 {
    width: 250px;
    height: 200px;
    background-color: gold;
    grid-column: 3/4;
}

.blue3 {
    width: 100%;
    height: 100px;
    background-color: blue;
    grid-column: 1/4;
}

/*Activity 4 styles*/
.content4 {
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.red4 {
    width: 300px;
    height: 300px;
    background-color: red;
    grid-column: 1/3;
    grid-row: 1/4;
}

.green4 {
    width: 300px;
    height: 100px;
    background-color: green;
    grid-column: 3/5;
    grid-row: 1/2;
}

.gold4 {
    width: 300px;
    height: 100px;
    background-color: gold;
    grid-column: 3/5;
    grid-row: 2/3;
}

.blue4 {
    width: 300px;
    height: 100px;
    background-color: blue;
    grid-column: 3/5;
    grid-row: 3/4;
}

/*Activity 5 styles*/
.content5 {
    width: 600px;
    height: 600px;
}

.red5 {
    width: 100%;
    height: 100px;
    background-color: red;
}

.green5 {
    width: 200px;
    height: 200px;
    background-color: green;
    float: left;
    margin: 0 10px 10px 0;
}

.gold5 {
    width: 100%;
    height: 300px;
    background-color: gold;
}

.blue5 {
    width: 100%;
    height: 100px;
    background-color: blue;
}

/*Activity 6 styles*/
.content6 {
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.red6 {
    width: 400px;
    height: 200px;
    background-color: red;
    grid-column: 1/5;
    grid-row: 1/3;
    z-index: 1;
}

.green6 {
    width: 200px;
    height: 200px;
    background-color: green;
    grid-column: 1/3;
    grid-row: 4/6;
    z-index: 3;
}

.gold6 {
    width: 200px;
    height: 400px;
    background-color: gold;
    grid-column: 5/6;
    grid-row: 3/6;
    z-index: 3;
}

.blue6 {
    width: 400px;
    height: 400px;
    background-color: blue;
    grid-column: 2/5;
    grid-row: 2/5;
    z-index: 2;
}

footer {
    padding: 20px;
    margin: 20px;
    text-align: center;
}