/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

    .pics {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        margin: auto;
    }

    .gal:hover {
        box-shadow: 0 0 50px #333;
    }

    /*home page*/

    div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }



    .windarticle {
        display: flex;
        flex-wrap: wrap;
    }
}

/*end large */