/*64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

	header {
		background-color: #c4f0ff;
		padding: 5px 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	header img {
		width: 100px;
		height: auto;
	}

	.headings {
		display: flex;
		flex-direction: column;
	}

	/*.headings h1 {
		font-size: 1.6rem;
		margin: 0 0 0 17px;
	}*/

	nav{width: 100%;}

	nav button { display: none;}

	nav ul.hide {display: block;}

		nav ul {margin-left: 0%}

		nav ul li {float: center;}

		nav ul li a {
			border: none;
			border-right: 1px solid rgba(0,0,0,.30);
			padding: .6rem 1rem;
		}


} /*end large */