header {
    background-color: #c4f0ff;
    padding: 5px 0;
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #50514F;
    font-family: 'viga', 'sans-serif';
}

header img {
    width: 10%;
    height: auto;
}

.headings {
    display: flex;
    flex-direction: column;
    /*background-color: #c4f0ff;*/
}

h1 {
    font-size: 27pt;
    text-align: center;
    padding: 5px;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #50514f;
    align-content: center;
}

nav {
    background-color: #FFEC6D;
    font-family: Vera, sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 1rem 2%;
    text-decoration: none;
    color: #50514f;
    border-top: 1px solid rgba(128, 128, 128, .1);
}

nav ul li.active a {
    background-color: rgba(245, 244, 244, 0.2);
    color: #50514F
}

nav ul li a:hover {
    background-color: rgba(128, 128, 128, .3);
}

nav ul.hide {
    display: none;
}

/*-----Clear fix : force an element not to collapse*/
.clearfix:after {
    content: " ";
    display: table;
    clear: both;
}

h1,
h2,
h4 {
    font-family: 'viga', 'crete round', 'sans-serif';
    color: #50514F;
}

h2 {
    text-align: center;
    font-size: 24pt;
    padding: 10px;
}

h3 {
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px;
    font-size: 12pt;
}

main {
    background-color: #70c1b3;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0;
}

.hero {
    margin: 10px auto;
    position: relative;
    border: 1px dashed blue;
    /*width: 1000px;
    height: 250px;*/
}

.herophoto {
   /* margin: 10px auto;*/
    /*border: 10px solid #50514f;*/
    width: 100%;
    height: 100%;
    /*width: 1000px;
    height: auto;*/
}

.weathersummary{
    position: absolute;
    top: 50px;
    left: 25px;
    background-color: #70c1b3;
    opacity: .5;
    color: #50514f;
    border: 1px #50514f;
    padding: .5rem;
    box-shadow: 0 0 30px #777;
}
.box {
    display: block;
    margin: 10px auto;
    padding: 5px;
    justify-content: center;
}

.content {
    display: block;
    margin: 10px auto;
    padding: 10px;
    border: 2px solid #50514F;
    justify-content: center;
    text-align: center;
    background-color: #c4f0ff;
}
span {font-weight: 700;}

footer {
    display: flex;
    height: 50px;
    width: 80%;
    justify-content: center;
    text-align: center;
    background-color: #FFEC6D;
    color: #50514F;
    font-family: 'viga', 'sans-serif';
    padding: 10px;
    /*margin-left: 100px;
    margin-right: 80px;*/
}