body {
    background-color: #f5edf0;
    padding: 5px;
    margin: 0px;
    font-family: sintony, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

header {
    background-color: #d90368;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    background-color: #DCF763;
    border-radius: 50%;
    width: 75px;
    height: auto;
    padding: 10px;
    margin: 10px;
}

h1 {
    font-size: 3rem;
    margin: 0;
    font-style: oblique;
    text-align: center;
    font-family: Enriqueta, Arial, Helvetica, sans-serif;
    color: #262322;
}

nav {
    font-size: 1.5rem;
    display: flex;
    background-color: #D90368;
    padding: 15px;
    margin: 5px;
    align-items: center;
}

nav a {
    color: #262322;
}

nav a:visited {
    color: #DCF763;
}

nav a:active {
    background-color: #262322;
    color: #D90368;
}

nav li {
    display: inline-block;
    color: #f5edf0;
}

.hero {
    width: 100%;
    max-width: 1200px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.hero h2 {
    color: #D90368;
    font-size: 4em;
    margin: auto;
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    bottom: 0;
}

.hero p {
    color: #D90368;
    font-size: 3em;
    margin: auto;
    position: absolute;
    top: 220px;
    left: 0;
    right: 0;
    bottom: 0;
}

.hero img {
    width: 100%;
}

.bar {
    width: 100%;
    height: 400px;
    background: #798086;
    opacity: .4;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 90px;
}
.services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}
.card {
    width: 250px;
    box-shadow: 1px 1px 4px 1px #798086;
    border-radius: 3px;
    background-color: #f5edf0;
    padding: 5px;
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding: 5px;
    margin: 5px;
    border: #798086 solid 5px;
    align-self: center;
}

.card button {
    width: 200px;
    color: #DCF763;
    text-align: center;
}

.card footer {
    padding: 1px;
    margin: 1px;
}

.containera {
    background-image: url(../images/backgrounda.jpg);
    background-color: #262322;
}

form {
    margin: 0 auto;
    width: 500px;
    padding: 1em;
    border: 7px solid #262322;
    background-color: #f5edf0;
}

li {
    display: block;
    padding: 10px;
    margin: 5px;
}

.apoint {
    width: 500px;
    color: #D90368;
    background-color: #262322;
    padding: 1em;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5em;
}

button {
    background-color: #262322;
    color: #D90368;
    padding: 5px;
    margin: 5px;
}

h2 {
    font-size: 1.5em;
    margin: 0 auto;
    padding: 1em;
    background-color: #262322;
    color: #d90368;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10px;
}

.jack img {
    grid-column: 1/2;
    grid-row: 1/2;
}

.jack h3,
p {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 400px;
}

.rose img {
    grid-column: 1/2;
    grid-row: 2/3;
}

.rose h3,
p {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 400px;
}

.sam img {
    grid-column: 1/2;
    grid-row: 3/4;
}

.sam h3,
p {
    grid-column: 2/2;
    grid-row: 3/4;
    width: 400px;
}

.about {
    width: 400px;
    height: 400px;
    object-fit: cover;
    padding: 5px;
    margin: 5px;
    border: #798086 solid 5px;
}

footer {
    background-color: #798086;
    display: block;
    padding: 5px;
    margin: 10px;
    border: 5px #D90368 solid;
}

.social img {
    width: 50px;
    height: auto;
    padding: 5px;
    margin: 10px;
    float: right;
}

#copy {
    text-align: center;
}

@media screen and (max-width: 550px) {

    .welcome {
        display: block;
    }
}