header, footer {
		display: flex;
		height: 100px;
		width: 100%;
		justify-content: center;
    background-color: #FFEC6D;
    color:#50514F;
		font-family: 'viga', 'sans-serif';
		}
		
h1 {
		font-family: 'viga', 'crete round', 'sans-serif';
		color: #50514F;
		}

h2 {
    text-decoration-line: underline;
		color: #50514F; 
		font-family: 'viga', 'crete round', 'sans-serif';
		padding: 10px;
    }

nav {
		background-color: #247BA0;
		font-size: 1.2em;
		line-height: 3em;
		}
	
nav a {
			padding: 1em 1em;
}

nav ul { 
		display: flex;
		flex: 1 1 100%;
		display: inline-block;
		margin: 0;
		font-family: 'viga', 'sans-serif';
		font-size: 1.2em;
		color: #C4f0ff;
		text-align: center;
		}

p {
			font-family: 'PT Sans', 'Roboto', 'sans-serif';
			color: black;
}

main {
			padding: 1em;
			margin: 50px;
}
/*font-family: 'Roboto', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Crete Round', serif;
font-family: 'Viga', sans-serif; */
