header, footer {
    background-color: #FFEC6D;
    color:#50514F;
    text-align: center;
    padding: 1.25rem;
		}
		
h1 {
		font-family: 'Viga', 'sans-serif';
		color: #50514F;
}

h2 {
    text-decoration-line: underline;
    padding: 10px;
    margin: 50px;
		color: #50514F; 
		font-family: 'Viga', 'Crete Round', 'sans-serif';
    }

nav {
		font-size:1.2em;
		line-height:3em;
		margin-top:-5em;
		padding-left:200px;
		}		

nav ul {
        display: flex;
        flex-flow: row wrap;
				margin: 0;
				}

p {
			font-family: 'PT Sans', 'Roboto', 'sans-serif';
			color: black;
}
/*font-family: 'Roboto', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Crete Round', serif;
font-family: 'Viga', sans-serif; */
