/*-----Clear fix : force an element not to collapse*/
.clearfix:after {
    content: " ";
    display: table;
    clear: both;
}

header {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #c4f0ff;
    color: #50514F;
    font-family: 'viga', 'sans-serif';
}

header img {
    width: 25%;
    height: auto;
    margin: 10px 0px 0px 0px;
}

.headings h1 {
	font-size: 24pt;
	margin: 50px 0px 0px 0px;
	padding: 0px;
}

.headings h5 {
	font-size: 12pt;
	margin: 0px 0px 0px 5px;
}

nav {
    background-color: #FFEC6D;
    font-family: 'viga', 'sans-serif';
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #50514f;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 1rem 2%;
    text-decoration: none;
    color: #50514f;
    border-top: 1px solid rgba(128, 128, 128, .1);
}

nav ul li.active a {
    background-color: rgba(128, 128, 128, .2);
    color: #50514F
}

nav ul li a:hover {
    background-color: rgba(128, 128, 128, .3);
}

nav ul.hide {
    display: none;
}

main.storm {
    padding: 0 2%;
    min-height: 20rem;
}

form fieldset {
    margin: 2rem 0;
    border: 2px solid #50514F;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #50514F;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.person {
    display: block;
    padding-top: 1rem;
    color: #50514F;
    font-size: .8rem;
}

form label.person input, form textarea.info {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, .1);
}

form label.storm {
    display: block;
    padding: .75rem;
    color:#555;
}

form label.subButton {
    border: none;
    background-color: #FFEC6D;
    color: #50514F;
    border-radius: .5rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.person input:required {
    border-left: #FFEC6D solid 6px;
}

form label.person input:required:valid {
    border-left: green solid 6px;
}

p {
    font-size: 24pt;
    color: #50514F;
}

footer {
    display: flex;
    height: 50px;
    justify-content: center;
    text-align: center;
    background-color: #FFEC6D;
    color: #50514F;
    font-family: 'viga', 'sans-serif';
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
}